<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title> {% block titulo %}Dashboard{% endblock %} - Menu de Administração</title>
</head>
<body class="b_admin">
<div class="adm_page">
    <div class="adm_menu">
        <div id="menu" class="top-sticky">
            <a href="/admin">
                <img src="{{ url_for('static', filename='imagens/kilobyte_alpha1.png') }}" alt = "Logo" class="img_logo">
            </a>
            <a href="#">Cadastrar Usuário</a>
            <a href="#">Descadastrar Usuário</a>
            <a href="/admin/cadastroproduto">Cadastrar Produto</a>
            <a href="/admin/gerenciarusuarios">Gerenciar Usuários</a>
            <a href="#">Descadastrar Produto</a>
            <a href="#">Inserir Link das Imagens dos Produtos</a>
            <a href="#">Excluir</a>
        </div>
    </div>

    <div class="adm_content {% block content_additional_classes %}grow{% endblock %}">
        {% block content %}
        <!-- Conteúdo da página vai aqui -->
        <h1>Bem-vindo à Área de Administração</h1>
        <p>Selecione uma opção no menu à esquerda.</p>
        {% endblock %}
    </div>
</div>
</body>
</html>