<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kILOBYTE SHOP a Preferida dos Gamers - Grandes Ofertas</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <header>
        <table class="table_1">
            <tr>
                <td><p></p></td>
                <td><p></p></td>
                <td>
                    {% if username is defined %}
                        <p>{{ username}}</p>
                    {% else %}
                        <a class="link_entrar" href="login">Entrar</a>
                        <a class="link_entrar" href="cadastro">Cadastrar</a>
                        <a class="link_carrinho" href="carrinho">Meu carrinho</a>
                    {% endif %}
                </td>
            </tr>
        </table>
        <div class="header">
            <img src="static/imagens/kilobyte1.png" alt="Logo" class="img_logo">
            <nav class="menu_sup">
                <!-- Inserir os itens do menu aqui -->
                <ul>
                    <li><a href="#GrandesOfertas">Grandes Ofertas</a></li>
                    <li><a href="#PlacasDeVideo">Placas de Vídeo</a></li>
                    <li><a href="#PlacasMae">Placas Mãe</a></li>
                    <li><a href="#Memoria">Memória</a></li>
                    <li><a href="#Processador">Processador</a></li>
                    <li><a href="#Cadeira">Cadeiras</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
<footer>
    <p>Desenvolvido por Eduardo S. Addum</p>
    <p>Projeto final Curso Back-End Senai</p>
    <p><a href="https://github.com/ESADDUM" style="color: #898888;">GitHub.com/ESADDUM"</a></p>
    <p>Todos os direitos reservados - Senai Maracanã - 2023</p>
</footer>
</html>