    {% block titulo %} CADASTRO DE PRODUTOS {% endblock %}


    {% extends "admin.html" %}
    {% block content %}

    <h1>Cadastro de Usuários</h1>
    <form action="/login" method="post">
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" required><br>

        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" required><br>

        <input type="submit" value="Login" id="submit_form">
    </form>

    <script src="static\js\cadastro.js"></script>
    {% endblock %}
