<div id="formsection">
    {% extends "base_limpa.html" %}
    {% block content %}
    <h1>Cadastro de Usuário</h1>
    <form action="/cadastro" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" required>
        </div>
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" required>
        </div>
        <div>
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" id="cpf" required>
        </div>
        <div>
            <label for="datanascimento">Data de Nascimento:</label>
            <input type="date" name="datanascimento" id="datanascimento" pattern="\d{1,2}/\d{1,2}/\d{4}" required>
        </div>
        <div>
            <label for="telefone">Telefone:</label>
            <input type="tel" name="telefone" id="telefone" required>
        </div>
        <div>
            <label for="cep">CEP:</label>
            <input type="text" name="cep" id="cep" required>
        </div>
        <div>
            <label for="rua">Rua:</label>
            <input type="text" name="rua" id="rua" required>
        </div>
        <div>
            <label for="municipio">Município:</label>
            <input type="text" name="municipio" id="municipio" required>
        </div>
        <div>
            <label for="estado">Estado:</label>
            <input type="text" name="estado" id="estado" required>
        </div>
        <div>
            <label for="complemento">Complemento:</label>
            <input type="text" name="complemento" id="complemento">
        </div>
        <div>
            <input type="submit" value="Cadastrar" id="submit_form">
            <div id="Mensagem" style="visibility: hidden;">  </div>
        </div>
    </form>

    <script src="static\js\cadastro.js"></script>
    {% endblock %}
</div>