{% from 'macros.html' import product_cart %}  {# Adiciona a função de carrinho #}
{% extends "layout/neo_base_nova.html" %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/product_card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/product_section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cart_page.css') }}">  
{% endblock %}

{% block content %}
    <h2>Meu Carrinho</h2>

    <div class="carrinho">
        {% for item in carrinho %}  {# 'carrinho' é uma lista de itens #}
            {{ product_cart(item.image, item.title, item.description, item.price) }}  {# função 'product_cart' mostra os itens do carrinho #}
        {% endfor %}
    </div>

    <div id="resumo-compra">
        <p>Subtotal: R$ <span id="subtotal">0.00</span></p>
        <p>Frete: R$ <span id="frete">0.00</span></p>
        <p>Total: R$ <span id="total">0.00</span></p>
    </div>

    <button onclick="finalizarCompra()">Finalizar Compra</button>
{% endblock %}

