{% extends "admin.html" %}
{% block titulo %}GERENCIAR CLIENTE{% endblock %}
{% block content_additional_classes%}flex-top{% endblock %}
{% block content %}
<div class="row full-width">
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <input type="text" placeholder="Search..">
    </div>
</div>
<table class="kilobyte-table">
    <tr>
        <th>id</th>
        <th>nome</th>
        <th>nascimento</th>
        <th>telefone</th>
        <th>cpf</th>
        <th>email</th>
        <th>cep</th>
        <th>rua</th>
        <th>municipio</th>
        <th>estado</th>
        <th>complemento</th>
    </tr>
    {% if datarows is defined %}
        {% for row in datarows %}
        <tr>
            {% for data in row %}
            <td>{{ data }}</td>
            {% endfor%}
        </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock %}