{% extends "admin.html" %}
{% block titulo %}GERENCIAR CLIENTE{% endblock %}
{% block content_additional_classes%}flex-top wrap grow{% endblock %}
{% block content %}
<div class="row full-width">
    <div class="topnav">
        <a id="update" class="clickble">update</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <input type="text" placeholder="Search..">
    </div>
</div>
<div class="overflow-scroll-x">
    <table class="kilobyte-table" id="tabela-gerencimento-usuarios">
        <tr>
            <th class="clickble" id="id">id</th>
            <th class="clickble" id="nome">nome</th>
        <th class="clickble" id="nascimento">nascimento</th>
        <th class="clickble" id="telefone">telefone</th>
        <th class="clickble" id="cpf">cpf</th>
        <th class="clickble" id="email">email</th>
        <th class="clickble" id="cep">cep</th>
        <th class="clickble" id="rua">rua</th>
        <th class="clickble" id="municipio">municipio</th>
        <th class="clickble" id="estado">estado</th>
        <th class="clickble" id="complemento">complemento</th>
    </tr>
    {% if datarows is defined %}
        {% for row in datarows %}
        <tr>
            {% for data in row %}
            <td>{{ data }}</td>
            {% endfor%}
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <script src="{{ url_for('static', filename='js/gerenciamentousuarios.js') }}"></script>
</div>
{% endblock %}