{% from 'macros.html' import product %}
{% extends "base_nova.html" %}
{% block content %}
<section class="productSection">
    {{ product('static/imagens/assets/asset 6.webp', 'nome0', 'oi', '100') }}
    {{ product('static/imagens/assets/asset 6.webp', 'nome1', 'oi', '100') }}
    {{ product('static/imagens/assets/asset 6.webp', 'nome2', 'oi', '100') }}
    {{ product('static/imagens/assets/asset 6.webp', 'nome3', 'oi', '100') }}
    {{ product('static/imagens/assets/asset 6.webp', 'nome4', 'oi', '100') }}
    {{ product('static/imagens/assets/asset 6.webp', 'nome5', 'oi', '100') }}
</section>
{% endblock %}