{% from 'macros.html' import product_test %}
{% extends "layout/neo_base_nova.html" %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/product_card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/product_section.css') }}">
{% endblock %}
{% block content %}
    {% if products != -1 %}
    <section class="product-section">
        {% for prod in products %}
            {{ product_test(prod[5], prod[1], prod[2], prod[3], prod[0]) }}
        {% endfor %}
    </section>
    {% endif %}
<script src="{{ url_for('static', filename='js/click_product.js') }}" defer></script>
{% endblock %}