<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>kILOBYTE SHOP a Preferida dos Gamers - Grandes Ofertas</title>
        <link rel="stylesheet" href="CSS/style.css">
        <table class="table_1">
            <tr>
                <td><p></p></td>
                <td><p></p></td>
                <td>
                    <a class="link_entrar" href="entrar.html">Entrar / Cadastrar</a>
                    <a class="link_carrinho" href="carrinho.html">Meu carrinho</a>
                </td>
            </tr>
        </table>
    </head>
            <div class="header">
            <img src="imagens/kilobyte1.png" alt="Logo" class="img_logo">
            <nav class="menu_sup">
                <!-- Inserir os itens do menu aqui -->
                <ul>
                    <li><a href="#GrandesOfertas">Grandes Ofertas</a></li>
                    <li><a href="#PlacasDeVideo">Placas de Vídeo</a></li>
                    <li><a href="#PlacasMae">Placas Mãe</a></li>
                    <li><a href="#Memoria">Memória</a></li>
                    <li><a href="#Processador">Processador</a></li>
                    <li><a href="#Cadeira">Cadeiras</a></li>
                </ul>
            </nav>

            </div>
        <body>
            <h1> PRODUTOS </h1>
            <section class="ofertas">
                <h2>Grandes Ofertas</h2>
                <table class="tabela-produtos">
                    <!-- Linha 1 -->
                    <tr>
                        <td>
                            <!-- Produto 1 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 1</p>
                            <p>Descrição do Produto 1</p>
                            <p>R$ 100,00</p>
                        </td>
                        <td>
                            <!-- Produto 2 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 2</p>
                            <p>Descrição do Produto 2</p>
                            <p>R$ 100,00</p>
                        </td>
                        <td>
                            <!-- Produto 3 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 3</p>
                            <p>Descrição do Produto 3</p>
                            <p>R$ 100,00</p>
                        </td>
                        <td>
                            <!-- Produto 4 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 4</p>
                            <p>Descrição do Produto 4</p>
                            <p>R$ 100,00</p>
                        </td>
                    </tr>
                </table>
            </section>
            <section class="placasDeVideo">
                <h2>Placas de Vídeo</h2>
                <table class="tabela-produtos">
                    <!-- Linha 1 -->
                    <tr>
                        <td>
                            <!-- Produto 1 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 1</p>
                            <p>Descrição do Produto 1</p>
                            <p>R$ 100,00</p>
                        </td>
                        <td>
                            <!-- Produto 2 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 2</p>
                            <p>Descrição do Produto 2</p>
                            <p>R$ 100,00</p>
                        </td>
                        <td>
                            <!-- Produto 3 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 3</p>
                            <p>Descrição do Produto 3</p>
                            <p>R$ 100,00</p>
                        </td>
                        <td>
                            <!-- Produto 4 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 4</p>
                            <p>Descrição do Produto 4</p>
                            <p>R$ 100,00</p>
                        </td>
                    </tr>
                </table>
            </section>
            <section class="placasMae">
                <h2>Placas Mãe</h2>
                <table class="tabela-produtos">
                    <!-- Linha 1 -->
                    <tr>
                        <td>
                            <!-- Produto 1 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 1</p>
                            <p>Descrição do Produto 1</p>
                            <p>R$ 100,00</p>
                        </td>
                        <td>
                            <!-- Produto 2 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 2</p>
                            <p>Descrição do Produto 2</p>
                            <p>R$ 100,00</p>
                        </td>
                        <td>
                            <!-- Produto 3 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 3</p>
                            <p>Descrição do Produto 3</p>
                            <p>R$ 100,00</p>
                        </td>
                        <td>
                            <!-- Produto 4 ... -->
                            <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                            <p>Nome do Produto 4</p>
                            <p>Descrição do Produto 4</p>
                            <p>R$ 100,00</p>
                        </td>
                    </tr>
                </table>
            </section>
      
<footer>
    <p>Desenvolvido por Eduardo S. Addum</p>
    <p>Projeto final Curso Back-End Senai</p>
    <p><a href="https://github.com/ESADDUM" style="color: #898888;">GitHub.com/ESADDUM"</a></p>
    <p>Todos os direitos reservados - Senai Maracanã - 2023</p>

</footer>
  
</body> 
</html>