<!DOCTYPE html>
<html lang="pt-BR">
<head>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h1> PRODUTOS </h1>
    <section class="ofertas">
        <h2>Grandes Ofertas</h2>
        <table class="tabela-produtos">
            <!-- Linha 1 -->
            <tr>
                <td>
                    <!-- Produto 1 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 1</p>
                    <p>Descrição do Produto 1</p>
                    <p>R$ 100,00</p>
                </td>
                <td>
                    <!-- Produto 2 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 2</p>
                    <p>Descrição do Produto 2</p>
                    <p>R$ 100,00</p>
                </td>
                <td>
                    <!-- Produto 3 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 3</p>
                    <p>Descrição do Produto 3</p>
                    <p>R$ 100,00</p>
                </td>
                <td>
                    <!-- Produto 4 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 4</p>
                    <p>Descrição do Produto 4</p>
                    <p>R$ 100,00</p>
                </td>
            </tr>
        </table>
    </section>
    <section class="placasDeVideo">
        <h2>Placas de Vídeo</h2>
        <table class="tabela-produtos">
            <!-- Linha 1 -->
            <tr>
                <td>
                    <!-- Produto 1 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 1</p>
                    <p>Descrição do Produto 1</p>
                    <p>R$ 100,00</p>
                </td>
                <td>
                    <!-- Produto 2 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 2</p>
                    <p>Descrição do Produto 2</p>
                    <p>R$ 100,00</p>
                </td>
                <td>
                    <!-- Produto 3 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 3</p>
                    <p>Descrição do Produto 3</p>
                    <p>R$ 100,00</p>
                </td>
                <td>
                    <!-- Produto 4 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 4</p>
                    <p>Descrição do Produto 4</p>
                    <p>R$ 100,00</p>
                </td>
            </tr>
        </table>
    </section>
    <section class="placasMae">
        <h2>Placas Mãe</h2>
        <table class="tabela-produtos">
            <!-- Linha 1 -->
            <tr>
                <td>
                    <!-- Produto 1 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 1</p>
                    <p>Descrição do Produto 1</p>
                    <p>R$ 100,00</p>
                </td>
                <td>
                    <!-- Produto 2 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 2</p>
                    <p>Descrição do Produto 2</p>
                    <p>R$ 100,00</p>
                </td>
                <td>
                    <!-- Produto 3 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 3</p>
                    <p>Descrição do Produto 3</p>
                    <p>R$ 100,00</p>
                </td>
                <td>
                    <!-- Produto 4 ... -->
                    <img src="caminho/imagem_produto1.jpg" alt="Produto 1">
                    <p>Nome do Produto 4</p>
                    <p>Descrição do Produto 4</p>
                    <p>R$ 100,00</p>
                </td>
            </tr>
        </table>
    </section>
    {% endblock %}
</body> 
</html>