{% from 'macros.html' import product_test %}
{% extends "layout/neo_base_nova.html" %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/product_card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/product_section.css') }}">
{% endblock %}
{% block content %}

    {% for i in range(4) %}
        <section class="product-section">
        {% for j in range(3) %}
            {{ product_test('static/imagens/assets/asset 6.webp', 'Placa de Vide nvidea(%d-%d)' % (i, j), 'lorem ipsum lorem', 'R$100,00') }}
        {% endfor %}
        </section>
    {% endfor %}

{% endblock %}