{% extends "layout/base_limpa.html" %}
{% block content %}
<div id="formsection">
    <h1>Login</h1>
    <form action="/login" method="post">
        <div>
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" required><br>
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" required><br>
        </div>
        <div>
            <input type="submit" value="Login" id="submit_form">
        </div>
    </form>
</div>
<script src="static\js\cadastro.js"></script>
{% endblock %}
