{% macro product(link='', prodTitle='', prodDescription='', prodPrice='') %}
<div  class="product">
    <div class="prodImage"> <img src="{{ link }}" alt="" srcset=""></div>
    <div class="prodTitle"> {{ prodTitle }} </div>
    <div class="prodDescription"> {{ prodDescription }} </div>
    <div class="prodPrice"> {{ prodPrice }} </div>
</div>
{% endmacro %}

{% macro product_test(link='', prodTitle='', prodDescription='', prodPrice='', idProd='') %}
<div class="card" id="{{ idProd }}">
    <img src="{{ link }}" style="width:100%">
    <h1>{{ prodTitle }}</h1>
    <p class="price">{{ prodPrice }}</p>
    <p>{{ prodDescription }}</p>
    <p><button>Adicionar ao Carrinho</button></p>
  </div>
{% endmacro %}