{% extends "layout/neo_admin.html" %}
{% block title %}Gerenciar Usuários{% endblock %}
{% block style%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/usermanager.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block current %}gerenciarprodutos{% endblock %}
{% block content %}
<div class="search-bar" id="search-bar">
    <button class="search-btn toggle-btn">id</button>
    <button class="search-btn toggle-btn active">nome</button>
    <button class="search-btn toggle-btn">descricao</button>
    <button class="search-btn toggle-btn">valor</button>
    <button class="search-btn toggle-btn">quantidade</button>
    <div class="search-inp-container">
        <input type="text" name="search" id="seachInp">
        <button type="submit" id="update"><i class="fa fa-search"></i></button>
    </div>
</div>
<div class="table-container">
    <table class="kilobyte-table" id="kilobyte-products">
        <tr id="linha-com-nomes">
            <th class="clickble" id="id">id</th>
            <th class="clickble" id="nome">nome</th>
            <th class="clickble" id="descricao">descricao</th>
            <th class="clickble" id="valor">valor</th>
            <th class="clickble" id="quantidade">quantidade</th>
        </tr>
    </table>
</div>
<script src="{{ url_for('static', filename='js/admin/neo_gerencimentoprodutos.js') }}"></script>
{% endblock %}