{% extends "layout/neo_admin.html" %}
{% block title %}CADASTRO DE PRODUTOS{% endblock %}
{% block style%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/snackbar.css') }}">
{% endblock %}
{% block current %}cadastroproduto{% endblock %}
{% block content %}
<h1 style="text-align: center; font-family: sans-serif;">Cadastrar Produto</h1>
<div class="kilobyte-container">
    <div class="kilobyte-form">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">

        <label for="preco">Preço</label>
        <input type="number" name="preco" id="preco">

        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao" rows="10" maxlength="4096"></textarea>

        <label for="imagem" class="clickble label-btn">Selecionar Imagem</label>
        <input type="file" name="imagem" id="imagem" accept="image/png, image/jpg, image/gif, image/jpeg">
        <input type="text" name="image-text" id="image-text" class="inp-text-not-apparently-disable" disabled>
        <div id="imagesection">
            <img src="#" alt="" srcset="" id="previewimage" class="previewimage">
        </div>

        <div style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        ">
            <input name="submit" type="submit" value="Submit" id="submit">
            <div class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="snackbar success"> Registro Bem Sucedido</div>
<div class="snackbar fail"> Registro Mal Sucedido</div>
<script src="{{ url_for('static', filename='js/admin/cadastroproduto.js') }}" defer></script>
{% endblock %}