<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kILOBYTE SHOP a Preferida dos Gamers - Grandes Ofertas</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <header>
        <div class="header">
            <img src="static/imagens/kilobyte1.png" alt="Logo" class="img_logo">
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
<footer>
    <p>Desenvolvido por Eduardo S. Addum</p>
    <p>Projeto final Curso Back-End Senai</p>
    <p><a href="https://github.com/ESADDUM" style="color: #898888;">GitHub.com/ESADDUM"</a></p>
    <p>Todos os direitos reservados - Senai Maracanã - 2023</p>
</footer>
</html>