<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/admin.css') }}">
    {% endblock %}
    <title>{% block title %}Home{% endblock %} - Administração</title>
</head>
<body>
    <div class="sidebar" id="sidebar">
        <a href="/admin/test">
            <img src="{{ url_for('static', filename='imagens/kilobyte_alpha1.png') }}" alt = "Logo" class="img_logo">
        </a>
        <a href="/admin/test" id="home">Home</a>
        <a href="/admin/test/cadastroproduto" id="cadastroproduto">Cadastro de Produtos</a>
        <a href="/admin/test/gerenciarusuarios" id="gerenciarusuarios">Gerenciar Usuários</a>
        <a href="#" id="sair">Sair</a>
    </div>
    <div class="content {% block content_classes %}{% endblock %}">
    {% block content %}
        <!-- Conteúdo da página vai aqui -->
        <h1>Bem-vindo à Área de Administração</h1>
        <p>Selecione uma opção no menu à esquerda.</p>
    {% endblock %}
    </div>
    <script defer>
        const sidebar = document.getElementById("sidebar");
        for (const e in sidebar.getElementsByTagName("a")){
            if (e instanceof HTMLAnchorElement){
                e.classList.remove("active");
            }
        }

        const current = document.getElementById("{% block current %}home{% endblock %}")
        if (current instanceof HTMLAnchorElement){
            current.classList.add("active")
        }
    </script>
</body>
</html>