<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/default.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/navbar.css') }}">
        {% endblock %}
    {% endblock %}
    <title>
        {% block title %}{% endblock %} KiloByte Info Shop
    </title>
</head>
<body>
    {% block header %}
        <div class="navbar">
            <a href="/">
                <img src="{{ url_for('static', filename='imagens/kilobyte_alpha1.png') }}" alt="Logo" class="img_logo">
            </a>

            <div class="search-div">
                <input type="search" name="">
                <div class="hamburger-lines" id="hamburger">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <div id="drop-down" class="dropdown-content">
                    <a href="#">Lorem</a>
                    <a href="#">Lorem</a>
                    <a href="#">Lorem</a>
                </div>
            </div>

            {% if username is defined %}
                <a>{{ username }}</a>
                <a class="link_logoff" href="/logoff"> logoff</a>
                <a href="#">&#128722</a>
            {% else %}
            <a class="border-btn" href="login">Entrar</a>
            <a href="#">&#128722</a>
            {% endif %}
        </div>
    {% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
    <footer style="text-align: center;">
        {% block footer %}
        <p>Desenvolvido por Eduardo S. Addum</p>
        <p>Projeto final Curso Back-End Senai</p>
        <p><a href="https://github.com/ESADDUM" style="color: #898888;">GitHub.com/ESADDUM"</a></p>
        <p>Todos os direitos reservados - Senai Maracanã - 2023</p>
        {% endblock %}
    </footer>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</body>
</html>